/* ==================================================
 * 			 		 全局Sass变量
 * ================================================= */
//======= Colors
$white-base:									#ffffff !default;

$gray-light:									#D7D7D7 !default;
$gray-minor:									#9B9B9B !default;
$gray-default:								    #D1D0CD !default;
$gray-default2:                   #bbbbbb;
$gray-line-default:								#D4D4D4 !default;

$black-base:									#4A4A4A !default;

$yellow-base:									#FFCD00 !default;
$yellow-active:									#FFB72C !default;

$blue-base:										#006ba3 !default;
$blue-drak:										#356DFC !default;
$blue-light:									#A2BBFC !default;

$red-drak:										#FA4C3E !default;
$red-light:										#FFB4B4 !default;

$purple-base:									#8E50F6 !default;
$purple-active:									#7F38F6 !default;
// Primary Color
$primary-color:									#31c27c !default;

// Background color for `<body>`.
$bg-color:										$white-base;
$bg-default:									$gray-default;
$bg-login:										$yellow-base;
$bg-primary:									$yellow-base;
$bg-cancel:										#C9CDD2;
$bg-register:									$purple-base;

$left-nav-bg:                 $blue-base;
$left-nav-sign:                 #0D72A8;
$left-nav-img-bg:               #07649D;
$header-nav-bg:                 #E9EEF4;
$right-wrap-bg:                 #D5E2EB;
$item-bg:                       #ECF4F7;
$item-bg-checked:               #D5EDF9;
$item-bg-unexecuted:            #E9E9E9;

// Font  Color
$gray-light-font:								$gray-minor;
$remark-color:									#BABABA;
$blue-font:										$blue-base;
$black-base-font:								$black-base;
$gray-base-font:								#BEBEBE;
$gray-minor-font:								#DCDCDC;
$arrow-font:									$gray-line-default;
$place-holder-font:								#C9CDD2;

$left-nav-item-title:           #C7D1D6;
$big-title:                     #FF8900;
$font-color-default:            #626C75;
$font-color-item:               #A2A9B1;
$input-checked:                 #B9E7FF;
$item-blue:                     #3DBCFF;
$item-yes:                      #FE4801;
$item-yes-bg:                   #FADE7D;
$item-font-unexecuted:          #BCBCBC;

// Line  Color
$base-line-color:								$gray-light;

// Button Color, Active Color
$default-active:								rgba(#DBDBDB, .5);
$login-active:									$yellow-active;
$primary-active:								$yellow-active;
$register-active:								$purple-active;

// Width, Height, Padding, Margin
$padding:                       20px 0px;
$padding-small:                 10px 0px;
$padding-small2:                5px 0px;
$margin:                        10px 0px;
$margin-large:                  20px 0px;
$margin-btnGroup:               10px 5px;
$padding-all-small:             10px;
$padding-all:                   20px;

$header-height:									80px;
$bottom-height:									56px;
$left-nav-width:                18%;
$title-fontSize:                24px;
$content-fontSize:              18px;
$content-fontSize-small:        16px;
$font-weight-default:           700;
$header-padding:                $padding;
$header-wrap-padding:           0px 20px;
$tool-padding:                  20px;
$border-radius-default:         5px;
$padding-twoSize-default:       0px 20px;
$item-padding:                  15px 40px;
$item-img:                      70px;
$nav-tool-icon-size:            35px;
$input-default:                 60px;
